{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "printWidth": 100,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always"
}
