@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';

.container {
    @include flex_box_custom(space-between, unset, 10px);

    padding: 30px 20px;
    height: 95%;
    flex-direction: column;
}
