@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';
.container {
    @include flex_box_custom(space-between, unset, 0px);

    padding: 30px 20px 0 20px;
    flex-direction: column;
    height: 95%;

    .total {
        @include flex_box_custom(space-between, center, 0px);
    }
    .boxBtn {
        @include flex_box_custom(center, center, 10px);
        flex-direction: column;
    }

    .containerListProduct {
        position: relative;

        .overlayLoading {
            @include flex_box_custom(center, center, 0);

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    .boxEmpty {
        font-size: 14px;
        color: $four_color;
        text-align: center;
        margin-top: 30px;

        .boxBtnEmpty {
            width: 162px;
            margin: 20px auto;
        }
    }

    .containerListItem {
        @include flex_box_custom(space-between, unset, 0px);

        flex-grow: 1;
        flex-direction: column;
    }
}

.isEmpty {
    justify-content: unset;
}
