@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';
.container {
    @include flex_box_custom(space-between, unset, 0px);

    padding: 30px 20px 0 20px;
    flex-direction: column;
    height: 95%;

    .total {
        @include flex_box_custom(space-between, center, 0px);
    }
    .boxBtn {
        @include flex_box_custom(center, center, 10px);
        flex-direction: column;
    }
}