@import '@styles/variables.module.scss';
@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(space-between, center, 0px);

    // height: 144px;
    background-color: $primary-color;
    margin-top: -75px;
    padding: 20px 50px;
}

.containerCard {
    @include flex_box_custom(center, center, 18px);

    width: 280px;
    height: 104px;
}

.containerContent {
    @include flex_box_custom(flex-start, flex-start, 13px);

    flex-direction: column;
    color: $white-color;
    font-weight: 300;

    .title {
        font-size: 17px;
    }

    .des {  
        font-size: 16px;
        color: #ffffffc7;
    }
}
