@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';

.container {
    @include flex_box_custom(center, flex-start, 25px);

    margin-top: 40px;
    padding: 20px;
    transition: all 0.3s ease;
    position: relative;

    img {
        width: 70px;
    }

    .boxClose {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transform: translateX(50px);
        transition: all 0.3s ease;
    }

    .boxContent {
        @include flex_box_custom(center, flex-start, 0);
        flex-direction: column;
        .title {
            font-size: 16px;
            color: $primary_color;
        }
        .size {
            color: #9e9e9e;
            margin-top: 7px;
            margin-bottom: 10px;
            font-size: 14px;
        }
        .price {
            font-size: 14px;
            color: $four_color;
            margin-bottom: 7px;
        }
    }
    &:hover {
        background-color: #f7f7f7;
        .boxClose {
            transform: translateX(0);
        }
    }
}
