@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';
.container {
    @include flex_box_custom(center, center, 0px);

    left: 0;
    right: 0;
}

.fixedHeader {
    position: fixed;
    top: -83px;
    background-color: #ffffffe6;
    z-index: 999;
    transform: translateY(83px);
    transition: transform 0.7s ease;
    box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
}

.topHeader {
    top: 0;
    position: absolute;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.containerBox {
    @include flex_box_custom(center, center, 20px);
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 20px);

    &:hover {
        cursor: pointer;
    }
}
.containerMenu {
    @include flex_box_custom(center, center, 40px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);

    background-color: $primary_color;
    width: 26px;
    height: 26px;
}

.menu {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: $primary_color;
    position: relative;

    .subMenu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        padding: 10px;
        top: 40px;
        
    }
}

.menu::after {
    content: '';
    display: block;
    height: 3px;
    background-color: $primary_color;
    margin-top: 6px;

    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition: transform 300ms, opacity 500ms;
}
.menu:hover::after {
    opacity: 1;
    transform: scale(1);
}

.boxCart {
    position: relative;
    .quantity {
        position: absolute;
        top: -5px;
        right: -10px;
        background-color: $primary_color;
        color: #fff;
        @include radius_common(50%);
        width: 15px;
        height: 15px;
        @include flex_box_custom(center, center, 0px);
        font-size: 10px;
    }
}