@import '@styles/variables.module.scss';
@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(center, center, 20px);

    flex-direction: column;
    background-color: #363636;
    margin-top: 100px;
    color: $white_color;
    padding: 50px 0px;

    .boxNav {
        @include flex_box_custom(center, center, 45px);
        font-size: 15px;

        :hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
}
