@import '@styles/variables.module.scss';
@import '@styles/mixin.module.scss';
.boxImg {
    width: 300px;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover .showImageWhenHover {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .showImageWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:hover .showFnWhenHover {
        opacity: 1;
        right: 20px;
    }

    .showFnWhenHover {
        position: absolute;
        opacity: 0;
        bottom: 20px;
        right: -40px; // bắt đầu ngoài khung
        background-color: white;
        transition: opacity 0.5s, right 0.3s;
    }

    .boxIcon {
        width: 40px;
        height: 40px;
        @include flex_box_custom(center, center, 0px);

        img {
            width: 17px;
            height: 17px;
        }

        &:hover {
            background-color: #ccc;
            transition: background-color 0.3s ease-in-out;
        }
    }
}

.title {
    font-size: 16px;
    color: $four_color;
    margin: 6px 0px;
}
.priceClass {
    font-size: 14px;
    color: $thr_color;
    font-weight: 400;
}
